* {
    box-sizing: border-box;
    
}

button {
    margin: 25px;
    padding: 25px;

}

body {
    display: flex;
    flex-direction: column;

}
.gameBox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
}

.lowerBox {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 75px;
}

.playerBox {
    display: flex;
}

.compBox {
    display: flex;
}