* {
    box-sizing: border-box;
    
}

button {
    margin: 25px;
    padding: 25px;

}

body {
    display: flex;
    flex-direction: column;

}
.gameBox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}

.messageBox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
    padding: 40px;
    border: 1mm solid;

}

.statsBox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 75px;
    gap: 75px;
}

.playerBox {
    display: flex;
}

.compBox {
    display: flex;
}